@font-face {
    font-family: 'gobold_extra1regular';
    src: url('../assets/fonts/Gobold/goboldextra1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gobold_hollowregular';
    src: url('../assets/fonts/Gobold/goboldhollow-webfont.woff2') format('woff2'),
         url('../assets/fonts/Gobold/goboldhollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'prime_light';
    src: url('../assets/fonts/Prime/Prime-Light.eot');
    src: url('../assets/fonts/Prime/Prime-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Prime/Prime-Light.woff2') format('woff2'),
    url('../assets/fonts/Prime/Prime-Light.woff') format('woff');
}

@font-face {
font-family: 'prime_regular';
src: url('../assets/fonts/Prime/Prime-Regular.eot');
src: url('../assets/fonts/Prime/Prime-Regular.eot') format('embedded-opentype'),
url('../assets/fonts/Prime/Prime-Regular.woff2') format('woff2'),
url('../assets/fonts/Prime/Prime-Regular.woff') format('woff');
}