:root {
    --blue-bg-color: linear-gradient(90deg, rgba(0, 125, 255, 0.25) 0%, rgba(255,255,255,0) 100%);
    --orange-bg-color: linear-gradient(270deg, rgba(255, 137, 0, 0.25) 0%, rgba(255,255,255,0) 100%);

    --scoreboard-bg: linear-gradient(90deg, rgba(0, 126, 255, 0.25) 0%, rgba(255,255,255,0) 50%, rgba(255, 137, 0, 0.25) 100%);
}

body {
    font-family: prime_regular;

    background-color: black;
    background-size: cover;

    color: white;

    overflow: hidden;
    user-select: none;
}

div.scorebug {
    width: 1000px;
    height: 75px;
    position: absolute;

    top: 0px;
    left: 460px;

    background: var(--scoreboard-bg);
    border-radius: 0% 0% 15% 15%;
}

div.scorebug p.board {
    font-size: 34px;
}

div.scorebug p.board span {
    position: absolute;
    text-align: center;
}

div.scorebug p.board span.team.name {
    font-size: 20px;
    width: 300px;
    top: 20px;
}

div.scorebug p.board span.team.score {
    width: 100px;
    top: 15px;
}

div.scorebug p.board span.team.name.blue {
    left: 0px;
}

div.scorebug p.board span.team.name.orange {
    right: 0px;
}

div.scorebug p.board span.team.score.blue {
    left: 300px;
}

div.scorebug p.board span.team.score.orange {
    right: 300px;
}

div.scorebug p.board span.info.time {
    font-size: 25px;
    width: 100px;
    top: 25px;
    left: 450px;
}

div.scorebug p.board span.info.match {
    font-size: 12px;
    
    width: 300px;
    top: 5px;
    left: 350px;
}

div.playerbug div.player {
    width: 250px;

    position: absolute;
    top: 600px;
}

div.playerbug div.blue {
    text-align: left;
    left: 30px;
}

div.playerbug div.orange {
    text-align: right;
    right: 30px;
    background-color: var(--orange-bg-color);
}

div.playerbug div.player div.p0, div.playerbug div.player div.p1, div.playerbug div.player div.p2 {
    --boost: "100%";

    height: 35px;
    border-radius: 5px;
}

div.playerbug div.blue div.p0, div.playerbug div.blue div.p1, div.playerbug div.blue div.p2 {
    background: var(--blue-bg-color);
    --boost: "100%";

    height: 35px;
    border-radius: 5px;
}

div.playerbug div.orange div.p0, div.playerbug div.orange div.p1, div.playerbug div.orange div.p2 {
    background: var(--orange-bg-color);
    --boost: "100%";

    height: 35px;
    border-radius: 5px;
}

div.playerbug div.player span.name {
    float: left;
    padding: 7px 0px 0px 15px;
}

div.playerbug div.player span.boost {
    color: #bea720;
    float: right;
    padding: 7px 15px 0px 0px;
}

div.targetinfo {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 525px;
    padding: 0px 0px 15px 0px;

    border-radius: 20px;

    background: var(--blue-bg-color);
}

div.targetinfo div.player.stats p#header {
    width: 360px;
    text-align: left;
    padding-bottom: 0px;
    margin-left: 18px;
    --targetBoost: 360px;
}

div.targetinfo div.player.stats p#statstitle, div.targetinfo div.player.stats p#statsvalue {
    width: max-content;
    height: fit-content;
}


div.targetinfo div.player.stats p#statstitle span{
    text-align: center;
    width: 75px;
    display: block;
    float: left;
    line-height: 20px;
    border-right: thin solid #ffffff;
}

div.targetinfo div.player.stats p#statsvalue span{
    text-align: center;
    width: 75px;
    display: block;
    float: left;

    border-right: thin solid #ffffff;
}

div.playerbug div.player p.data::after {
    content: "";
    position: absolute;
    width: var(--boost);
    height: 3px;
    left: 0px;
    visibility: visible;
    border-radius: 5px;
    transform: translateY(32px);

    transition-duration: 500ms;
}

div.playerbug div.player.orange p.data::after {
    background: #ff9838;
    box-shadow: 0px 0px 5px 1px rgba(255,136,0,1);
}

div.playerbug div.player.blue p.data::after {
    background: #60cdff;
    box-shadow: 0px 0px 5px 1px rgba(0,26,255,1);
}

div.player.boostmeter {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 20px black;

    position: absolute;

    right: 50px;
    bottom: 50px;

    background: radial-gradient(circle, rgba(0,86,175,.25) 0%, rgba(0,86,175,0.1) 100%);
}

div.player.boostmeter p.boost.value {
    width: inherit;

    position: absolute;
    top: 10px;

    font-size: 42px;
    text-align: center;
}

div.player.boostmeter p.boost.value::after {
    width: 33%;
    height: 2px;

    content: "";
    position: absolute;
    top: 55px;
    left: 33%;

    background-color: rgba(255, 255, 255, 0.5);
}

div.player.boostmeter p.speed.value {
    width: inherit;

    position: absolute;
    bottom: 45px;

    color: rgb(255, 196, 0);
    text-align: center;
}

path#fullarc {
    stroke-linecap: round;
}

path#boostarc {
    stroke-linecap: round;
    stroke-dasharray: 361;
    stroke-dashoffset: 360;

    transition-duration: 250ms;
}




