@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

:root {
    --blue-bg-color: linear-gradient(90deg, rgba(3, 77, 164, .80) 0%, rgba(33, 33, 33, .8) 100%);
    --orange-bg-color: linear-gradient(270deg, rgba(251, 106, 49, 0.80) 0%, rgba(33, 33, 33, .8) 100%);

    --scoreboard-bg: linear-gradient(90deg, rgba(34, 34, 34, 0.8) 10%, rgba(3, 77, 164, 0.80) 25%, rgba(33, 33, 33, .8) 50%, rgba(251, 106, 49, 0.80) 65%, rgba(34, 34, 34, 0.8) 90%);

    --gameinfo-bg:  linear-gradient(40deg,rgba(3, 77, 164, .80) 30%, rgba(33, 33, 33, .8) 50%,rgba(251, 106, 49, 0.80) 100%);

    --blue-boost-bg:  linear-gradient(40deg,rgba(105, 170, 229, 1) 50%,rgba(88, 99, 174, 1) 100%);

    --orange-boost-bg:  linear-gradient(40deg,rgba(236, 223, 105, 1) 50%,rgba(237, 144, 72, 1) 100%);
}

/*
rgba(251, 106, 49, 0.80)
*/

body {
    --teamcolor: white;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    color: white;
    overflow: hidden;
    user-select: none;
    background-color: white;
}

div.scorebug {
    width: 1000px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 460px;
    background: var(--scoreboard-bg);
    border-radius: 0% 0% 15% 15%;
    border-bottom: solid 2px white;
}

div.scorebug .board {
    font-size: 40px;
}

div.scorebug .board span {
    position: absolute;
    text-align: center;
}

div.gameinfo {
    width: 330px;
    height: 45px;
    top: 76px;
    position: absolute;
    left: 800px;
    background: var(--gameinfo-bg);
    border-radius: 0% 0% 15% 15%;
    border: solid 2px white;

    text-align: center;
    word-spacing: 50px;
}

div.seriesBlue, div.seriesOrange {
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 12px;
}

div.seriesBlue {
    left: 50px;
}

div.seriesOrange {
    right: 50px;
}

div.gameinfo img {
    position: absolute;
    width: 30px;
    height: 40px;
    rotation: 20deg;
}

div.seriesBlue img.first {
    right: 30%;
}

div.seriesBlue img.second {
    right: 60%;
}

div.seriesBlue img.third {
    right: 90%;
}

div.seriesOrange img.first {
    left: 30%;
}

div.seriesOrange img.second {
    left: 60%;
}

div.seriesOrange img.third {
    left: 90%;
}


div.iconleft {
    height: 55px;
    width: 55px;
    top: 10px;
    position: absolute;
    margin-left: 20px;
    background-image: url('../assets/img/logo/logo_blue.png');
    background-size: contain;
    background-repeat: no-repeat;
}

div.iconright {
    height: 55px;
    width: 55px;
    top: 10px;
    position: absolute;
    right: 20px;
    background-image: url('../assets/img/logo/logo_orange.png');
    background-size: contain;
    background-repeat: no-repeat;
}

div.iconstatsBlue {
    height: 55px;
    width: 55px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-image: url("../assets/img/logo/logo_blue.png");
    background-size: contain;
    background-repeat: no-repeat;
}

div.iconstatsOrange {
    height: 55px;
    width: 55px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-image: url("../assets/img/logo/logo_orange.png");
    background-size: contain;
    background-repeat: no-repeat;
}

div.partnerleft, div.partnerright {
    width: 200px;
    height: 100px;
    background-size: cover;
    background: transparent;
}

div.partnerleft {
    background-image: url("../assets/img/partner/partner_blue.png");
    transform: translate(-100%);
}

div.partnerright {
    background-image: url("../assets/img/partner/partner_orange.png");
    transform: translate(100%, -100%);
    float: right;
}

.player .goals {
    left: 98px;
}

.player .assists {
    left: 138px;
}

.player .saves {
    left: 178px;
}

.player .shots {
    left: 218px;
}

.player .stats {
    position: absolute;
    height: 22px;
    display: flex;
    flex-direction: row;
}

.player .stats img {
    margin-top: 3px;
    height: 15px;
    width: 15px;

}

.player .stats .stat {
    font-size: 15px;
    margin: 0 0 1px 5px;
    line-height: 22px;
    width: 10px;
}

div.scorebug .board span.team.name {
    font-size: 22px;
    width: 300px;
    top: 25px;
}

div.scorebug .board span.team.score {
    width: 100px;
    top: 15px;
}

div.scorebug .board span.team.name.blue {
    left: 60px;
}

div.scorebug .board span.team.name.orange {
    right: 60px;
}

div.scorebug .board span.team.score.blue {
    left: 350px;
}

div.scorebug .board span.team.score.orange {
    right: 350px;
}

div.scorebug .board span.info.time {
    font-size: 28px;
    width: 100px;
    top: 25px;
    left: 450px;
}

div.scorebug .board span.info.match {
    font-size: 13px;

    width: 300px;
    top: 5px;
    left: 350px;
}

div.playerbug div.team {
    width: 250px;
    position: absolute;
    bottom: 300px;
}

div.playerbug div.blue {
    left: 30px;
}

div.playerbug div.orange {
    right: 30px;
    background-color: var(--orange-bg-color);
}

div.playerbug div.team div.player {
    --boost: "100%";
    margin-top: 15px;
    height: 40px;
}

.player {
    position: relative;
}

div.formorange {
    height: 25px;
    width: 100%;
    background: rgba(251, 106, 49, 0.8);
    box-shadow: 0px 0px 3px #fb6a31;
    position: relative;
}

div.form {
    color: black;
    height: 25px;
    width: 100%;
    background: rgba(34, 34, 34, 0.80);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 2px;
}

div.formboost0, div.formboost1 {
    transition-duration: 500ms;
}

div.formboost0 {
    height: inherit;
    background: var(--blue-boost-bg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 2px;
}

div.formboost1 {
    height: inherit;
    background: var(--orange-boost-bg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 2px;

}

div.formblue {
    height: 25px;
    width: 100%;
    background: rgba(3, 77, 164, 0.8);
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(3, 77, 164, 1);
    position: relative;
}

div.playerbug div.team span.name {
    white-space: nowrap;
    width: 90px;
    overflow: hidden;
    display: block;
    position: absolute;
    font-size: 15px;
    text-align: left;
    height: 23px;
    line-height: 23px;
    left: 3px;

}

div.playerbug div.team span.boost {
    color: black;
    font-size: 20px;
    margin-right: 5px;
    --boost: "100%";
}

div.playerbug div.team p.data::after {
    content: "";
    position: absolute;
    width: var(--boost);
    height: 10px;
    right: 0;
    visibility: visible;
    border-radius: 5px;
    transform: translateY(32px);
    transition-duration: 500ms;
}

div.playerbug div.team.orange p.data::after {
    background: #ff9838;
    box-shadow: 0 0 5px 1px rgba(255, 136, 0, 1);
}

div.playerbug div.team.blue p.data::after {
    background: #60cdff;
    box-shadow: 0 0 5px 1px rgba(0, 26, 255, 1);
}

div.targetinfo {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 450px;
    padding: 0px 0px 15px 0px;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 5px;
}

div.targetinfo div.team.stats p#header {
    background: rgba(251, 106, 49, 0.8);
    width: 360px;
    margin: 0;
    margin-top: 10px;
    font-size: 26px;
    padding-top: 5px;
    text-align: LEFT;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 0;
    margin-left: 18px;
    border-radius: 2px;
    background: var(--teamcolor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.teamwrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 45px;
    right: 120px;
    padding-left: 30px;
}

div.teamname {
    font-size: 12px;
    line-height: 25px;
    margin-left: 6px;
}

.teamicon {
    height: 22px;
    width: 22px;
}

div.targetinfo div.team.stats p#statstitle, div.targetinfo div.team.stats p#statsvalue {
    width: max-content;
    height: fit-content;
}

div.targetinfo div.team.stats p#statstitle span {
    text-align: center;
    width: 75px;
    display: block;
    float: left;
    line-height: 20px;
    border-right: thin solid #ffffff;
    color: var(--teamcolor);
}

div.targetinfo div.team.stats p#statsvalue span {
    text-align: center;
    width: 75px;
    display: block;
    float: left;
    border-right: thin solid #ffffff;
}


div.player.boostmeter {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background: rgba(34, 34, 34, 0.8);
}

div.player.boostmeter p.boost.value {
    width: inherit;
    position: absolute;
    top: 10px;
    font-size: 42px;
    text-align: center;
}

div.player.boostmeter p.boost.value::after {
    width: 33%;
    height: 2px;
    content: "";
    position: absolute;
    top: 55px;
    left: 33%;
    background-color: rgba(255, 255, 255, 0.8);
}

div.team.boostmeter {
    width: inherit;
    position: absolute;
    bottom: 45px;
    color: #ffd000;
    text-align: center;
}

div.speed.value {
    width: 100px;
    position: absolute;
    bottom: 60px;
    left: 50px;
    text-align: center;
}

path#fullarc {
    stroke-linecap: round;
}

path#boostarc {
    stroke: var(--teamcolor);
    stroke-linecap: round;
    stroke-dasharray: 361;
    stroke-dashoffset: 360;
    transition-duration: 250ms;
}

#overlay-replay {
    position: absolute;
    width: 1920px;
    height: 212px;
    left: 0;
    bottom: 0;
}

.replayBlue {
    background-image: url("../assets/img/replay_blue.png");
}

.replayOrange {
    background-image: url("../assets/img/replay_orange.png");
}

.scorerinfo {
    position: absolute;
    width: 100%;
    bottom: 150px;
    font-size: 25px;
    color: #c40000;
    text-shadow: 0 0 10px #855151, 0 0 10px #910e0e;
}

.scorerinfo span {
    color: white;
    word-spacing: normal;
    margin-right: 50px;
}

.scorewrapper {
    width: inherit;
    position: absolute;
    text-align: center;
}

span.nomargin {
    margin: 0;
}

.stinger {
    position: absolute;
    left: 0;
    top: 0;
}

.matchSummary {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;

    --topmargin: 40%;
}

.summaryHead {
    position: absolute;
    width: 100%;
    top: 5%;
    text-align: center;
}

.teams {
    position: absolute;
    width: max-content;
    left: 760px;
}

.vs {
    float: left;
    height: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid white;

    background-color: white;
    color: black;
    font-size: 20px;
}

.sumTeamOrange, .sumTeamBlue {
    width: 75px;
    height: 75px;
    float: left;
}

.sumTeamBlue {
    background-image: url("../assets/img/logo/logo_blue.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sumTeamOrange {
    background-image: url("../assets/img/logo/logo_orange.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.scores {
    position: absolute;
    width: 375px;
    left: 760px;
    top: 175px;
}

.this {
    width: 100%;
    color: black;
}

.sumScoreBlue {
    width: 150px;
}

.tableMid {
    position: absolute;
    width: 250px;
    top: var(--topmargin);
    left: calc(50% - (250px / 2));
}

.table.summaryPlayerBlue.p0 {
    position: absolute;
    width: 200px;
    top: var(--topmargin);
    left: calc(50% - (250px / 2) - 200px);
}

.table.summaryPlayerBlue.p1 {
    position: absolute;
    width: 200px;
    top: var(--topmargin);
    left: calc(50% - (250px / 2) - 400px);
}

.table.summaryPlayerBlue.p2 {
    position: absolute;
    width: 200px;
    top: var(--topmargin);
    left: calc(50% - (250px / 2) - 600px);
}

.table.summaryPlayerOrange.p0{
    position: absolute;
    width: 200px;
    top: var(--topmargin);
    right: calc(50% - (250px / 2) - 200px);
}

.table.summaryPlayerOrange.p1{
    position: absolute;
    width: 200px;
    top: var(--topmargin);
    right: calc(50% - (250px / 2) - 400px);
}

.table.summaryPlayerOrange.p2{
    position: absolute;
    width: 200px;
    top: var(--topmargin);
    right: calc(50% - (250px / 2) - 600px);
}

.element {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(20, 20, 20, 0.3);
}

.element.hStripe {
    background-color: rgba(10,10,10, 0.5);
}

.element.blank {
    background-color: #00000000;
    padding-bottom: 15px;
}

.summaryPlayerOrange .element.name {
    border-bottom: 5px solid #FB6A31;
}

.summaryPlayerBlue .element.name {
    border-bottom: 5px solid #034DA4;
}






